bundle:
  deploy:
    zarf-packages:
      dubbd-k3d:
        set:
          domain: bigbang.dev
          approved_registries: "127.0.0.1* | registry1.dso.mil | ghcr.io"
      cert-manager:
        set:
          cert_manager_manifests: deploy-custom-manifests.yaml
